/* app.component.scss */
.main-container {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  padding: 40px;
}

.app-layout {
  display: flex;//grid;
  //grid-template-columns: 40% 40% 20%;
  height: 100vh;
  background: linear-gradient(135deg, #050b25, #0b1440);
  color: white;
  font-family: "Segoe UI", sans-serif;
}

/* ========== LEFT BRAND PANEL ========== */
.brand-panel {
  background: linear-gradient(180deg, #6d28d9, #c0bbcd);
  display: flex;
  align-items: center;
  justify-content: center;
   flex: 0 0 40%;
}

.brand-box {
  text-align: center;
  padding: 20px;
}

.logo-img {
  width: 250px;      /* adjust as needed */
  height: 250px;     /* must be equal for a perfect circle */
  border-radius: 50%; 
  object-fit: cover; 
  filter: drop-shadow(0 4px 12px rgba(0,0,0,0.3));
}

.brand-box h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.brand-box p {
  font-size: 14px;
  opacity: 0.85;
}

.gradient-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 40px !important;
  font-weight: 600;
  background: linear-gradient(90deg, #073581, #5d0ca8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.5px;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 25px !important;
  color: #2b2b2b;  /* soft grey-blue */
  margin-top: 4px;
}

/* ========== CENTER CHAT PANEL ========== */
.chat-panel {
  background: #829cc3;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1; 
  min-height: 0;   
  overflow: hidden; 
}

/* Let your existing chat fill space */
.chat-panel app-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;   
  overflow: hidden; 
}

/* ========== RIGHT UPLOAD PANEL ========== */
.upload-panel {
  background: #9f82be;
  padding: 20px;
  border-left: 1px solid rgba(255,255,255,0.1);
  display: flex;
  align-items: flex-start;
   flex: 0 0 20%; 
   height: 100vh;
  justify-content: center;
  }

/* Make upload box full width */
.upload-panel app-upload {
  width: 100%;
}

.upload-panel {
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from { transform: translateX(100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

.upload-toggle-btn {
  background: #3b82f6;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.2s ease;
  width: 200px;
  align-self: center;
}

.upload-toggle-btn:hover {
  background: #2563eb;
}
